.active-song {
  align-items: center;
  background: $active-song9gradient;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.active-son__btn-play {
  width: 30px;
  height: 30px;
}

.player__controls {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.song__cover {
  height: 100%;
  margin-left: 9%;
  max-height: 100%;
  width: 84%;
  
  @include mquery("md") {
    margin-top: 0;
    max-height: 100%; 
    max-width: 100%;
  }
  @include mquery(50em) {
    margin-left: 19%;
    width: 60%;
  }
  @include mquery("lg") {
    margin-left: 33%;
    max-width: 42%;
    width: 37%;
  }
}

.player {
  align-self: center;
}

.song__artist {
  text-align: center;
}

.player__btn-play {
  width: 50px;
  height: 50px;
}

.player__btn-back {
  margin-top: 10px;
  background-image: url('../img/system/back.png');
}

.player__btn-next {
  margin-top: 10px;
  background-image: url('../img/system/next.png');
}

.player__btn-random {
  margin-top: 10px;
  background-image: url('../img/system/random.png');
}

.player__btn-random--active {
  background-image: url('../img/system/randomActive.png');
}

.player__btn-repeat {
  margin-top: 10px;
  background-image: url('../img/system/repeat.png');
}

.player__btn-repeat--active {
  background-image: url('../img/system/repeatActive.png');
}

.song {
  background: $gradient;;
  display: grid;
  grid-row: 4;
  grid-template-columns: auto;
  grid-template-rows: 10% 50% 15% 25%;
  grid-template-areas: 
  "header"
  "cover"
  "info"
  "player";
  height: 100%;
  left: 0;
  position: absolute;
  padding-bottom: 100%;
  transition: 1.5s;
  top: 0;
  width: 100%;
  z-index: 1;
}

.song--hide {
  top: 150%;
  transition: 2s;
}

.song__info {
  align-self: center;
  grid-area: info;

  @include mquery("md") {
    margin-top: 0%;
  }
}

.song__image {
  align-items: center;
  background-size: cover;
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.song__name {
  margin: 1%;
  text-align: center;
}

.player__timer {
  align-items: center;
  display: flex;
  justify-content: space-around;

  @include mquery("md") {
    margin-top: 1%;
  }
}
