.songs-list {
  overflow: auto;
}

.songs-list__btn-fav {
  background-image: url('../img/system/favorite.png');
  height: 30px;
  overflow: visible;
  width: 30px;
}

.songs-list__btn-fav--active {
  background-image: url('../img/system/favoriteActive.png');
}

.songs-list__item {
  box-sizing: border-box;
  width: 100%;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mquery("md") {
    padding: 2%;
  }

  &:hover {
    box-shadow: $shadow;
  }  
}

.songs-list__item--active {
  box-shadow: $shadow;
}
