.btn-play {
  background-image: url('../img/system/play.png');
}

.btn-pause {
  background-image: url('../img/system/pause.png');
}

.song__btn-close {
  background-image: url('../img/system/close.png');
  width: 30px;
  justify-self: end;
  margin: 5%; 
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.active-song__btn-show {
  background-image: url('../img/system/showPlayer.png');
}

.favorite_button {
  background-image: url('../img/system/favorite.png');
}

.favorite_button_active {
  background-image: url('../img/system/favoriteActive.png');
}
