.btn-favorite {
  width: 30px;
  height: 30px;
  background-image: url('../img/system/favorite.png');
}

.btn-favorite-active {
  width: 30px;
  height: 30px;
  background-image: url('../img/system/favoriteActive.png');
}

.btn-close {
  background-image: url('../img/system/close.png');
  width: 30px;
  justify-self: end;
  margin: 5%; 
}

.btn-play-list {
  width: 100%;
  height: 100%;
}

.btn-play-list__icon {
  width: 30px;
  margin: 0 10px;

  @media (min-width: 768px){
    width: 35px;
  }
  @media (min-width: 1024px){
    width: 40px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.show-player {
  background-image: url('../img/system/showPlayer.png');
}

.favorite_button {
  background-image: url('../img/system/favorite.png');
}

.favorite_button_active {
  background-image: url('../img/system/favoriteActive.png');
}

.btn-play, 
.play_button {
  width: 50px;
  height: 50px;
  background-image: url('../img/system/play.png');
}

.btn-active {
  background-image: url('../img/system/pause.png');
}

.btn-back {
  margin-top: 10px;
  background-image: url('../img/system/back.png');
}

.btn-next {
  margin-top: 10px;
  background-image: url('../img/system/next.png');
}

.btn-random {
  margin-top: 10px;
  background-image: url('../img/system/random.png');
}

.btn-random--active {
  background-image: url('../img/system/randomActive.png');
}

.btn-repeat {
  margin-top: 10px;
  background-image: url('../img/system/repeat.png');
}

.btn-repeat--active {
  background-image: url('../img/system/repeatActive.png');
}