body {
  margin: 0;
  padding: 0;
}

p {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

button {
  width: 50px;
  height: 50px;
  background-size: contain;
  padding: 10px;
}

.play {
  background-image: url('../img/sistem/play.png');
}

.btn-active {
  background-image: url('../img/sistem/pause.png');
}

.timer {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
}