@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background: linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(191,187,123,1) 80%, rgba(253,187,45,1) 100%);
}

header{
  background: rgb(220, 188, 87);
  margin-top: -10%;
  padding-bottom: 10px;
}

h1{
  color: white;
  font-size: 75px;
  font-family: 'Raleway', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

h2{
  color:white;
  font-size: 35px;
  margin-left: 53%;
  margin-top: -10%;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
}

li{
  box-sizing: border-box;
  list-style: none;
  background: rgb(92, 196, 153);
  width: 100%;
  height: 40%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

h3, h4{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

h4, h3, p{
  color: white;
}

p{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  margin-top: 0%;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 10%;
}

.container {
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

#songs_container {
  height: 100vh;
}

.play, .play_button {
  width: 50px;
  height: 50px;
  background-image: url('../img/system/play.png');
}

.btn-active {
  background-image: url('../img/system/pause.png');
}

.back {
  margin-top: 10px;
  background-image: url('../img/system/back.png');
}

.next {
  margin-top: 10px;
  background-image: url('../img/system/next.png');
}

.random {
  margin-top: 10px;
  background-image: url('../img/system/random.png');
}

.repeat {
  margin-top: 10px;
  background-image: url('../img/system/repeat.png');
}

.btn-close {
  background-image: url('../img/system/close.png');
  width: 30px;
  margin-left: 85%;
  margin-top: 10%;
}

.timer {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favorite_button {
  background-image: url('../img/system/favorite.png');
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 20vh;
}

.loarding {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #22c1c3 20%, #bfbb7b 80%, #fdbb2d 100%);
  z-index: 2;
}

.hide-loarding {
  display: none;
}

.add_button{
  width: 30px;
  height: 30px;
}

.active_song{
  background:rgb(92, 196, 153);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 5px solid #499274;
  box-sizing: border-box;
}

.playlist_album{
  width: 10%;
  margin-top: 15px;
}

.start_soundlight{
  display: none;
}

.song_cover{
  background: linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(191,187,123,1) 80%, rgba(253,187,45,1) 100%);
  position: relative;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 1.5s;
  z-index: 1;
}

.song_coverimage{
  align-items: center;
  width: 80%;
  height: 40vh;
  margin: 15% auto;
  background-size: cover;
}

.song_name{
  text-align: center;
}

.song_artist{
  text-align: center;
  margin-top: -4%;
}

.songs_list {
  max-height: 60%;
  overflow:auto;
}

.hide-player {
  top: 100%;
  transition: 1.5s;
}