@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
//General
body {
  background: linear-gradient(0deg, #22c1c3 20%, #bfbb7b 80%, #fdbb2d 100%);
  max-height: 100vh;
  overflow: hidden;
}
//Loading
.loarding{
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo{
    width: 55%;

  @media (min-width: 768px){
    width: 28%;
<<<<<<< HEAD
    margin-left: 39%;
    margin-top: 19%;
=======
>>>>>>> 18fbcf08963cc1707ad2d44c420b4866d201d9f2
  }
  @media (min-width: 1024px){
    width: 20%;
  }
}

.logo_title{
    font-size: 38px;
    text-align: center;
    display: inline;

  @media (min-width: 768px){
    font-size: 38px;
    margin-left: 2%;
  }

  @media (min-width: 1024px){
    font-size: 38px;
    margin-left: 2%;
  }
}

header{
  padding-bottom: 10px;


  @media (min-width: 768px){
    padding-bottom: 10px;
  }

<<<<<<< HEAD
  @media (min-width: 1024px){
    margin-top: -4%;
=======
  @media (min-width: 800px){
>>>>>>> 18fbcf08963cc1707ad2d44c420b4866d201d9f2
    padding-bottom: 10px;
  }

}

h1{
    color: white;
    font-size: 41px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
 
  @media (min-width: 768px){
    color: white;
    font-size: 54px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  @media (min-width: 1200px){
    color: white;
    font-size: 54px;
    font-family: 'Raleway', sans-serif;
  }
}

ul {
  padding: 0;
  margin: 0;
}

h2{
    color:white;
    font-size: 18px;
    margin-left: 56%;
    margin-top: -3%;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;


  @media (min-width: 768px){ 
    color: white;
    font-size: 28px;
    margin-left: 29%;
    margin-top: -4%;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  @media (min-width: 1200px){ 
    color:white;
    font-size: 35px;
    margin-top: -3%;
    font-family: 'Lato', sans-serif;
  }

}

li{
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    height: 40%;
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  @media (min-width: 768px){
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    height: 51%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

//Modal styles



button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  &:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

h3, h4{
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

h4, h3, p{
  color: white;
}

p{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 29%;
  background: linear-gradient(0deg, #22c1c3 -28%, #bfbb7b 111%, #fdbb2d 273%);
}

.container {
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

#songs_container {
  height: 100vh;
}

.play, .play_button {
  width: 50px;
  height: 50px;
  background-image: url('../img/system/play.png');
}

.btn-active {
  background-image: url('../img/system/pause.png');
}

.back {
  margin-top: 10px;
  background-image: url('../img/system/back.png');
}

.next {
  margin-top: 10px;
  background-image: url('../img/system/next.png');
}

.random {
  margin-top: 10px;
  background-image: url('../img/system/random.png');
}

.repeat {
  margin-top: 10px;
  background-image: url('../img/system/repeat.png');
}

.btn-close {
  background-image: url('../img/system/close.png');
  width: 30px;
  justify-self: end;
  margin: 5%; 
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -34%;

  @media (min-width: 768px){
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;

  }

  @media (min-width: 1024px){  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
  }


}

.favorite_button {
  background-image: url('../img/system/favorite.png');
}

.player {
  align-self: center;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5%;
}

.loarding {
  position: absolute;
  width: 94%;
  padding-bottom: 125%;
  background: linear-gradient(0deg, #22c1c3 20%, #bfbb7b 80%, #fdbb2d 100%);
  z-index: 2;
}

.hide-loarding {
  display: none;
}

.add_button{
  width: 30px;
  height: 30px;
}

.active_song{
  background: linear-gradient(0deg,#fdbb2d -268% , #bfbb7b 85%,#22c1c3 211% );;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.playlist_album{
    width: 15%;
    margin-top: 30px;
 

  @media (min-width: 768px){
    width: 6%;
    margin-top: 30px;
  }

  @media (min-width: 1024px){
    width: 4%;
    margin-top: 15px;
  }
}

.start_soundlight{
  display: none;
}

.song_cover{
  background: linear-gradient(0deg, #22c1c3 20%, #bfbb7b 80%, #fdbb2d 100%);;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  transition: 1.5s;
  z-index: 1;
  display: grid;
  grid-row: 4;
  grid-template-columns: auto;
  grid-template-rows: 10% 50% 15% 25%;
  grid-template-areas: 
    "header"
    "cover"
    "info"
    "player";
}

.song_coverimage{
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-size: cover;
}

.cover {
<<<<<<< HEAD
    max-width: 100%;
    width: 84%;
    max-height: 100%;
    margin-top: 5%;
    margin-left: 9%;
  
  @media (min-width: 768px){
=======
  max-width: 100%;
  width: 100%;
  max-height: 100%; 
  margin-top: 0;
  
  @media (min-width: 800px){
>>>>>>> 18fbcf08963cc1707ad2d44c420b4866d201d9f2
    max-width: 100%;
    width: 60%;
    max-height: 100%;
    margin-left: 19%;
  }

  @media (min-width: 1024px){
    max-width: 42%;
    width: 37%;
    max-height: 100%;
    margin-left: 33%;
  }
}

.song_info {
  grid-area: info;
  align-self: center;
  margin-top: -60%;

  @media (min-width: 768px){
    grid-area: info;
    align-self: center;
    margin-top: 0%;
  }

  @media (min-width: 1024px){
    grid-area: info;
    align-self: center;
    margin-top: -2%;

  }
}

.song_name{
  text-align: center;
  margin: 1%;

}

.song_artist{
  text-align: center;
}

.songs_list {
  max-height: 60%;
  overflow:auto;
}

.hide-player {
  top: 150%;
  transition: 2s;
}

.random-active {
  background-image: url('../img/system/randomActive.png');
}

.repeat-active {
  background-image: url('../img/system/repeatActive.png');
}


// slider 
.slider {
  position: relative;
  width: 70%;
}

input[type='range'] {
  display: block;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #fdbb2d;
  width: 20px;
  height: 20px;
  border: 3px solid #fdbb2d;
  border-radius: 50%;
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
  background-color: #fdbb2d;
  width: 15px;
  height: 15px;
  border: 3px solid #fdbb2d;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #fdbb2d;
  width: 20px;
  height: 20px;
  border: 3px solid #fdbb2d;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #fdbb2d;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: #fdbb2d;
  height: 3px;
}
